/* Color Palette */

:root {
  --c-pink: #c03056;
  --c-orange: #f37800;
  --c-blue: #4000d4;
  --c-green: #00a181;
  --c-purple: #5316bb;

  --c-gray-1: #eee;
  --c-gray-2: #ccc;
  --c-gray-3: #555;
}

/* Resets */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Flex Grid */
.FlexWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.FlexWrapper__column {
  flex-direction: column;
}

.FlexWrapper__row {
  flex-direction: row;
}

.FlexWrapper__row.FlexWrapper__gutter > .FlexItem:not(:last-child) {
  margin: 0 15px 0 0;
}

.FlexWrapper__column.FlexWrapper__gutter > .FlexItem:not(:last-child) {
  margin: 0 0 15px 0;
}

.FlexWrapper__justifyBetween {
  justify-content: space-between;
}

.FlexWrapper__alignBottom {
  align-items: flex-end;
}

.FlexItem {
  flex: 1;
}

/* Component styles */

.ImageSearch {
  font-family: sans-serif;
  width: 95%;
  padding: 5%;
}

.ImageSearch_rightPanel {
  flex: 0 1 150px;
  border-left: 1px solid var(--c-gray-1);
  padding-left: 10px;
}

#SearchForm {
  display: flex;
}

.SearchForm .FlexItem {
  border-radius: 5px;
}

.SearchForm_input {
  padding: 10px;
  border: 1px solid var(--c-gray-2);
  color: var(--c-gray-3);
}

.SearchForm_input::placeholder {
  color: var(--c-gray-3);
}

.SearchForm_button {
  background-color: var(--c-blue);
  color: white;
  padding: 11px;
  font-size: 1.2em;
  border: none;
}

.SearchForm #select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.SearchResults {
  margin-bottom: 10px;
}

.ImageButton {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: relative;
}

.ImageButton:hover .SaveNotice {
  display: block;
}

.SaveNotice {
  display: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 8px 0 8px 0;
  color: white;
}

.SaveNotice__pink {
  background-color: var(--c-pink);
}

.SaveNotice__orange {
  background-color: var(--c-orange);
}

.ImageMeta_tags_tag {
  background-color: var(--c-green);
  padding: 3px;
  margin-bottom: 8px;
  color: white;
}

.ImageMeta_tags_tag:not(:last-child) {
  margin-right: 8px;
}

.ImageMeta_stats_icon {
  width: 16px;
  height: auto;
}
